In [1]:
import pandas as pd


matching_file = r"..\result\매칭정보.csv"

# CSV 파일 읽기 (헤더 없이)
df = pd.read_csv(matching_file)
df

,공공건축물_PK,관리_건축물_유형,건축물_구분,건축물_용도,관리건축물_PK,관리_건축물_단지_PK,에너지공급기관코드,에너지고유번호
0,972,1,1,1,11110-900,11110-900,1100100000,149870271
1,972,1,1,1,11110-900,11110-900,1100100000,158469849
2,972,1,1,1,11110-900,11110-900,1100100000,159134691
3,972,1,1,1,11110-900,11110-900,1100100000,108601905
4,972,1,1,1,11110-900,11110-900,1100100000,141766293
...,...,...,...,...,...,...,...,...
270876,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,646717914
270877,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,646222299
270878,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,645847562
270879,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,646265242
270880,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,646407802

In [2]:
# 이미지에 나와있는 순서대로 컬럼명 부여
column_names = [
    '공공건축물_PK',
    '관리_건축물_유형',
    '건축물_구분',
    '건축물_종류',
    'MGM_BLD_PK',
    'RECAP_PK',
    '에너지공급기관코드',
    '에너지고유번호'
]

# 컬럼명 지정
df.columns = column_names

# 데이터 확인
print(f"데이터 크기: {df.shape}")
print("\n처음 5개 행:")
print(df.head())

# 수정된 파일 저장
df.to_csv(matching_file, index=False, encoding='utf-8-sig')
print(f"\n컬럼명이 업데이트된 파일이 저장되었습니다: {matching_file}")

데이터 크기: (270881, 8)

처음 5개 행:
   공공건축물_PK  관리_건축물_유형  건축물_구분  건축물_종류 MGM_BLD_PK   RECAP_PK   에너지공급기관코드  \
0       972          1       1       1  11110-900  11110-900  1100100000
1       972          1       1       1  11110-900  11110-900  1100100000
2       972          1       1       1  11110-900  11110-900  1100100000
3       972          1       1       1  11110-900  11110-900  1100100000
4       972          1       1       1  11110-900  11110-900  1100100000

     에너지고유번호
0  149870271
1  158469849
2  159134691
3  108601905
4  141766293

컬럼명이 업데이트된 파일이 저장되었습니다: ..\result\매칭정보.csv

In [7]:
import pandas as pd
import os

# 결과 디렉토리 경로
result_dir = r"..\result"

# 사용량정보 CSV 파일 경로
usage_file = os.path.join(result_dir, "사용량정보.csv")

# CSV 파일 읽기 (헤더 없이)
df = pd.read_csv(usage_file, header=None)

# 이미지에 나와있는 순서대로 컬럼명 부여
column_names = [
    '공공건축물_PK',
    '에너지공급기관코드',
    '에너지고유번호',
    '사용년월',
    '사용량일련번호',
    '사용시작일자',
    '사용종료일자',
    '사용용도코드',
    '사용량',
    '단위코드'
]

# 컬럼명 지정
df.columns = column_names

# 데이터 확인
print(f"데이터 크기: {df.shape}")
print("\n처음 5개 행:")
print(df.head())

# 수정된 파일 저장
df.to_csv(usage_file, index=False, encoding='utf-8-sig')
print(f"\n컬럼명이 업데이트된 파일이 저장되었습니다: {usage_file}")

데이터 크기: (2198095, 10)

처음 5개 행:
   공공건축물_PK   에너지공급기관코드     에너지고유번호    사용년월  사용량일련번호      사용시작일자      사용종료일자  \
0   2663380  1200300000   302819125  202401        1  20240101.0  20240131.0
1    356783  1100100000   135164346  202401        1  20231211.0  20240110.0
2     48582  1201000000  6102702925  202401        1         NaN         NaN
3   1532559  1100100000   230050841  202401        1  20231225.0  20240124.0
4   5195130  1100100000   926366362  202401        1  20231219.0  20240118.0

   사용용도코드          사용량  단위코드
0    21.0  136010.9760     8
1     2.0   18429.0000     1
2    10.0   75790.8063     8
3    10.0  291247.0000     1
4     2.0      92.0000     1

컬럼명이 업데이트된 파일이 저장되었습니다: ..\result\사용량정보.csv

In [8]:
df

,공공건축물_PK,에너지공급기관코드,에너지고유번호,사용년월,사용량일련번호,사용시작일자,사용종료일자,사용용도코드,사용량,단위코드
0,2663380,1200300000,302819125,202401,1,20240101.0,20240131.0,21.0,136010.9760,8
1,356783,1100100000,135164346,202401,1,20231211.0,20240110.0,2.0,18429.0000,1
2,48582,1201000000,6102702925,202401,1,NaN,NaN,10.0,75790.8063,8
3,1532559,1100100000,230050841,202401,1,20231225.0,20240124.0,10.0,291247.0000,1
4,5195130,1100100000,926366362,202401,1,20231219.0,20240118.0,2.0,92.0000,1
...,...,...,...,...,...,...,...,...,...,...
2198090,1992381,1203600000,5727914,202410,1,20241001.0,20241031.0,120.0,633.1504,8
2198091,1993371,1203600000,5727914,202410,1,20241001.0,20241031.0,120.0,633.1504,8
2198092,203236,1100100000,1713950338,202410,1,20240908.0,20241007.0,3.0,36220.0000,1
2198093,4473077,1100100000,346394500,202410,1,20241001.0,20241031.0,2.0,762.0000,1
2198094,1261757,1100100000,931417058,202410,1,20241001.0,20241031.0,2.0,1797.0000,1

In [ ]:
df_use = pd.read_csv(r"..\result\사용량정보.csv")
df_match = pd.read_csv(r"..\result\매칭정보.csv")

,공공건축물_PK,에너지공급기관코드,에너지고유번호,사용년월,사용량일련번호,사용시작일자,사용종료일자,사용용도코드,사용량,단위코드
0,2663380,1200300000,302819125,202401,1,20240101.0,20240131.0,21.0,136010.9760,8
1,356783,1100100000,135164346,202401,1,20231211.0,20240110.0,2.0,18429.0000,1
2,48582,1201000000,6102702925,202401,1,NaN,NaN,10.0,75790.8063,8
3,1532559,1100100000,230050841,202401,1,20231225.0,20240124.0,10.0,291247.0000,1
4,5195130,1100100000,926366362,202401,1,20231219.0,20240118.0,2.0,92.0000,1

In [ ]:

df_use = df_use.sort_values(by='공공건축물_PK')
df_match = df_match.sort_values(by='공공건축물_PK')

,공공건축물_PK,에너지공급기관코드,에너지고유번호,사용년월,사용량일련번호,사용시작일자,사용종료일자,사용용도코드,사용량,단위코드
1362650,972,1100100000,141765757,202407,1,20240610.0,20240709.0,3.0,19495.0,1
1500515,972,1100100000,158469849,202407,1,20240610.0,20240709.0,3.0,0.0,1
635376,972,1100100000,141766293,202403,1,20240210.0,20240309.0,3.0,981.0,1
1523335,972,1100100000,135338515,202407,1,20240610.0,20240709.0,2.0,3702.0,1
1281976,972,1100100000,147763710,202406,1,20240510.0,20240609.0,3.0,48078.0,1

In [24]:

df_use.head(200)

,공공건축물_PK,에너지공급기관코드,에너지고유번호,사용년월,사용량일련번호,사용시작일자,사용종료일자,사용용도코드,사용량,단위코드
1362650,972,1100100000,141765757,202407,1,20240610.0,20240709.0,3.0,19495.000,1
1500515,972,1100100000,158469849,202407,1,20240610.0,20240709.0,3.0,0.000,1
635376,972,1100100000,141766293,202403,1,20240210.0,20240309.0,3.0,981.000,1
1523335,972,1100100000,135338515,202407,1,20240610.0,20240709.0,2.0,3702.000,1
1281976,972,1100100000,147763710,202406,1,20240510.0,20240609.0,3.0,48078.000,1
...,...,...,...,...,...,...,...,...,...,...
421593,974,1200800000,4013936029,202403,1,20240229.0,20240327.0,20.0,13822.784,8
2089837,974,1100100000,151323323,202410,1,20240910.0,20241009.0,2.0,1226.000,1
84430,974,1100100000,135338506,202401,1,20231210.0,20240109.0,3.0,4269.000,1
966175,974,1100100000,135338506,202405,1,20240410.0,20240509.0,3.0,735.000,1
1773797,974,1100100000,135338427,202409,1,20240810.0,20240909.0,3.0,98517.000,1

In [34]:
df_match.info()

<class 'pandas.core.frame.DataFrame'>
Index: 270881 entries, 118834 to 133802
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   공공건축물_PK      270881 non-null  int64
 1   관리_건축물_유형     270881 non-null  int64
 2   건축물_구분        270881 non-null  int64
 3   건축물_용도        270881 non-null  int64
 4   관리건축물_PK      270881 non-null  object
 5   관리_건축물_단지_PK  270881 non-null  object
 6   에너지공급기관코드     270881 non-null  int64
 7   에너지고유번호       270881 non-null  int64
dtypes: int64(6), object(2)
memory usage: 18.6+ MB

In [35]:
df_match[df_match['건축물_용도'] == 1]

,공공건축물_PK,관리_건축물_유형,건축물_구분,건축물_용도,관리건축물_PK,관리_건축물_단지_PK,에너지공급기관코드,에너지고유번호
118834,972,1,1,1,11110-900,11110-900,1100100000,149870271
216271,972,1,1,1,11110-900,11110-900,1100100000,158469849
183831,972,1,1,1,11110-900,11110-900,1100100000,159134691
57737,972,1,1,1,11110-900,11110-900,1100100000,108601905
251046,972,1,1,1,11110-900,11110-900,1100100000,141766293
...,...,...,...,...,...,...,...,...
184699,10000004803215,1,1,1,27200-1000000000000001483139,27200-1000000000000001483139,1100100000,532581982
132783,10000004803215,1,1,1,27200-1000000000000001483139,27200-1000000000000001483139,1100100000,546466107
235706,10000004803215,1,1,1,27200-1000000000000001483139,27200-1000000000000001483139,1202400000,2000327953
201515,10000004803215,1,1,1,27200-1000000000000001483139,27200-1000000000000001483139,1202400000,2001141786
269309,10000004803215,1,1,1,27200-1000000000000001483139,27200-1000000000000001483139,1202400000,2001404791

In [25]:
col_name = '에너지고유번호'

# 각 값의 빈도를 계산하여 중복(빈도수 > 1)인 값들만 추출합니다.
duplicates = df_use[col_name].value_counts()[df_use[col_name].value_counts() > 1]

print("중복된 값 및 각각의 개수:")
print(duplicates)

# 전체 중복 행의 수: 각 행이 중복인지 여부를 체크 (첫 등장 제외)
total_duplicates = df_use[col_name].duplicated().sum()
print(f"\n총 중복 행의 수: {total_duplicates}건")

중복된 값 및 각각의 개수:
에너지고유번호
6259268       686
547102757     540
2000704666    540
547058038     540
546794814     540
             ...
544289697       2
1988230         2
700493134       2
440964672       2
1995680         2
Name: count, Length: 44123, dtype: int64

총 중복 행의 수: 2153874건

In [26]:
col_name = '에너지고유번호'

# 각 값의 빈도를 계산하여 중복(빈도수 > 1)인 값들만 추출합니다.
duplicates = df_match[col_name].value_counts()[df_match[col_name].value_counts() > 1]

print("중복된 값 및 각각의 개수:")
print(duplicates)

# 전체 중복 행의 수: 각 행이 중복인지 여부를 체크 (첫 등장 제외)
total_duplicates = df_match[col_name].duplicated().sum()
print(f"\n총 중복 행의 수: {total_duplicates}건")

중복된 값 및 각각의 개수:
에너지고유번호
547102757     54
2000704666    54
546794814     54
2001429878    54
547058038     54
              ..
227437592      2
930576921      2
926685222      2
917036824      2
929961891      2
Name: count, Length: 20797, dtype: int64

총 중복 행의 수: 214916건

In [41]:
# 엑셀 파일로 저장
df_use.to_csv('../result/사용량정보.csv', index=False)
df_match.to_csv('../result/매칭정보.csv', index=False)

In [44]:
df_match

,공공건축물_PK,관리_건축물_유형,건축물_구분,건축물_용도,관리건축물_PK,관리_건축물_단지_PK,에너지공급기관코드,에너지고유번호
118834,972,1,1,1,11110-900,11110-900,1100100000,149870271
216271,972,1,1,1,11110-900,11110-900,1100100000,158469849
183831,972,1,1,1,11110-900,11110-900,1100100000,159134691
57737,972,1,1,1,11110-900,11110-900,1100100000,108601905
251046,972,1,1,1,11110-900,11110-900,1100100000,141766293
...,...,...,...,...,...,...,...,...
219073,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,646717914
150676,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,646222299
201288,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,645847562
32331,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,646265242
133802,10000006164726,1,1,2,36110-1000000000000000571160,36110-1000000000000000571160,1100100000,646407802

In [51]:
df_match[df_match['관리_건축물_단지_PK'] == '11110-2450']

Empty DataFrame
Columns: [공공건축물_PK, 관리_건축물_유형, 건축물_구분, 건축물_용도, 관리건축물_PK, 관리_건축물_단지_PK, 에너지공급기관코드, 에너지고유번호]
Index: []